folium==0.14.0
streamlit-folium==0.15.0
osdatahub==1.2.8
geopandas==0.14.0
convertbng==0.7.2
matplotlib==3.8.0
mapclassify==2.6.1
kaggle==1.5.16
dask==2023.12.0
geopy==2.4.1
meteostat==1.6.7
leafmap==0.31.2
xgboost==2.0.3
prophet==1.1.5
pandas==2.1.1
numpy==1.26.1
google-cloud-firestore==2.16.0